<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>627133098918-kreerap5ptnvqsa0rig5os7eupves6p6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627133098918-kreerap5ptnvqsa0rig5os7eupves6p6</string>
	<key>API_KEY</key>
	<string>AIzaSyDDnLixiQ6s1QfbUd9iWWLj7KlmSOWW4aM</string>
	<key>GCM_SENDER_ID</key>
	<string>627133098918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appWorksSchool-ios6.mango</string>
	<key>PROJECT_ID</key>
	<string>mango-e23ec</string>
	<key>STORAGE_BUCKET</key>
	<string>mango-e23ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627133098918:ios:a221b7273fcec98b</string>
	<key>DATABASE_URL</key>
	<string>https://mango-e23ec.firebaseio.com</string>
</dict>
</plist>